<form [formGroup]="bookForm" class="book-form" (ngSubmit)="onSubmit(theForm)" #theForm="ngForm" novalidate >
  <mat-form-field>
    <input matInput placeholder="Book Title" type="text" formControlName="title">
  </mat-form-field>
  <mat-form-field>
    <select matNativeControl placeholder="Category" formControlName="category">
      <option *ngFor="let cat of categories" [value]="cat.value">
        {{ cat.viewValue }}
      </option>
    </select>
  </mat-form-field>
  <mat-form-field>
    <textarea matInput rows="5" placeholder="Description" formControlName="description"></textarea>
  </mat-form-field>
  <br/>
  <button mat-raised-button type="submit" color="primary">Add</button>
</form>
